In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_org = pd.read_csv('/content/marketing_campaign_dataset.csv')
print(df_org.shape)
df_org.head()

(100591, 16)

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,Spanish,506,1922,6,Health & Wellness,2021-01-01
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,German,116,7523,7,Fashionistas,2021-01-02
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,French,584,7698,1,Outdoor Adventurers,2021-01-03
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,Mandarin,217,1820,7,Health & Wellness,2021-01-04
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,Mandarin,379,4201,3,Health & Wellness,2021-01-05

In [ ]:
df_org.isnull().sum()

Campaign_ID         0
Company             0
Campaign_Type       0
Target_Audience     0
Duration            0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Language            0
Clicks              0
Impressions         0
Engagement_Score    0
Customer_Segment    0
Date                0
dtype: int64

In [ ]:
df = df_org.copy()

In [ ]:
print("Before injecting NaN values:")
display(df.isna().sum())
print()

Before injecting NaN values:

Campaign_ID         0
Company             0
Campaign_Type       0
Target_Audience     0
Duration            0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Language            0
Clicks              0
Impressions         0
Engagement_Score    0
Customer_Segment    0
Date                0
dtype: int64

In [ ]:
num_injections = 5000

In [ ]:
for _ in range(num_injections):
    row_idx = np.random.randint(0, df.shape[0])
    col_idx = np.random.randint(0, df.shape[1])
    df.iat[row_idx, col_idx] = np.nan

In [ ]:
print("After injecting NaN values:")
display(df.isna().sum())

After injecting NaN values:

Campaign_ID         394
Company             385
Campaign_Type       366
Target_Audience     357
Duration            362
Channel_Used        379
Conversion_Rate     324
Acquisition_Cost    393
ROI                 403
Location            377
Language            394
Clicks              427
Impressions         371
Engagement_Score    348
Customer_Segment    352
Date                356
dtype: int64

In [ ]:
df.to_csv("Marketing_campaign_dataset_with_NaN.csv", index=False)