In [ ]:
print("hello World")

hello World

In [ ]:
3*4

12

In [ ]:
3**4

81

In [ ]:
3 * 4

12

In [ ]:
y=10
Y*=5
Print(y)

NameError: name 'Y' is not defined

In [ ]:
y=10
y *=5
Print (y)

NameError: name 'Print' is not defined

In [ ]:
type(5)

int

In [ ]:
t = (1,3,5,6)

type (t)

tuple

In [ ]:
t3 = (5, 3.14, "john", True, None, (4,2,7))
t3

(5, 3.14, 'john', True, None, (4, 2, 7))

In [ ]:
lst = [5, 3.14, "john", True, None, (4,2,7)]
print (lst)
print ( "before: ", lst)
lst.append(100)
print ( "after: ", lst)

[5, 3.14, 'john', True, None, (4, 2, 7)]
before:  [5, 3.14, 'john', True, None, (4, 2, 7)]
after:  [5, 3.14, 'john', True, None, (4, 2, 7), 100]

In [ ]:
lst = [5, 3.14, "john", True, None, (4,2,7)]
print (lst)
print ( "before: ", lst)
lst.remove(3.14)
print ( "after: ", lst)

[5, 3.14, 'john', True, None, (4, 2, 7)]
before:  [5, 3.14, 'john', True, None, (4, 2, 7)]
after:  [5, 'john', True, None, (4, 2, 7)]

In [ ]:
lst = [5, 3.14, "john", True, None, (4,2,7)]
print (lst)
print ( "before: ", lst)
lst.pop (True)
print ( "after: ", lst)

[5, 3.14, 'john', True, None, (4, 2, 7)]
before:  [5, 3.14, 'john', True, None, (4, 2, 7)]
after:  [5, 'john', True, None, (4, 2, 7)]

In [ ]:
lst = [5, 3.14, 46, 89675, 65]
print (lst)
print ( "before: ", lst)
lst.sort ()
print ( "after: ", lst)

[5, 3.14, 46, 89675, 65]
before:  [5, 3.14, 46, 89675, 65]
after:  [3.14, 5, 46, 65, 89675]

In [ ]:
lst = [5, 3.14, 46, 89675, 65, True, False]
print (lst)
print ( "before: ", lst)
lst.sort ()
print ( "after: ", lst)

[5, 3.14, 46, 89675, 65, True, False]
before:  [5, 3.14, 46, 89675, 65, True, False]
after:  [False, True, 3.14, 5, 46, 65, 89675]

In [ ]:
lst = [5, 3.14, 46, 89675, 65, true, false]
print (lst)
print ( "before: ", lst)
lst.sort ()
print ( "after: ", lst)

NameError: name 'true' is not defined

In [ ]:
lst = ["Abi", "Deepak", "john", "ali"]
print (lst)
print ( "before: ", lst)
lst.sort ()
print ( "after: ", lst)

['Abi', 'Deepak', 'john', 'ali']
before:  ['Abi', 'Deepak', 'john', 'ali']
after:  ['Abi', 'Deepak', 'ali', 'john']

In [ ]:
lst = {5, 3.14, 46, 89675, 65, True, False}
lst

{False, True, 3.14, 5, 46, 65, 89675}

In [ ]:
t=()
type(t)

tuple

In [ ]:
t={}
type(t)

dict

In [ ]:
t=[]
type(t)

list

In [ ]:
lst = {5, 3.14, 46, 89675, 65, True, False}
80 not in lst

True

In [ ]:
lst =
{"Abi", "Deepak", "john", "ali"}

print ( "before: ", lst)
lst.add  ()
print ( "after: ", lst)

SyntaxError: invalid syntax (ipython-input-44-266854391.py, line 1)

In [ ]:
dd = {"lisa":95,"mohit":85, "john":75}
len(dd)

3

In [ ]:
dd = {"lisa":95,"mohit":85, "john":75}
type(dd)

dict

In [ ]:
dd = {"lisa":95,"mohit":85, "john":75}
dd["lisa"]

95

In [ ]:
dd = {"lisa":95,"mohit":85, "john":75}
dd["ali"]= 56
dd

{'lisa': 95, 'mohit': 85, 'john': 75, 'ali': 56}

In [ ]:
dd.keys()
dd.values()

dict_values([95, 85, 75, 56])

In [ ]:
x=5
y=10
z= x+y+x*y
print("x=",x)
print("y=",y)
print("z=",z)

x= 5
y= 10
z= 65

In [ ]:
x=5
if x>1:
  print('yes')

yes

In [ ]:
x=5
if x<1:
  print('yes')

In [ ]:
### write a program to get an integer from user and then pront its sign.

x= input ()
print (x)
print (type(x))

Michael
Michael
<class 'str'>

In [ ]:
### write a program to get an integer from user and then pront its sign.

x= int(input ())
print (x)
print (type(x))

45
45
<class 'int'>

In [ ]:
### write a program to get an integer from user and then pront its sign.

x= int(input ("Please enter an integer: "))
print (x)
print (type(x))

Please enter an integer: 45
45
<class 'int'>

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")

Please enter an integer: 3
3
<class 'int'>
positve

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")

if x<0:
  print ('negative')

Please enter an integer: 3
3
<class 'int'>
positve

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")

if x<0:
  print ('negative')

Please enter an integer: -3
-3
<class 'int'>
negative

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")

if x<0:
  print ('negative')

Please enter an integer: 0
0
<class 'int'>

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")

else:
  print ('negative')

print ('Program terminated succussfully')

Please enter an integer: 2
2
<class 'int'>
positve
Program terminated succussfully

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")

else:
  print ('negative')

print ('Program terminated succussfully')

Please enter an integer: -2
-2
<class 'int'>
negative
Program terminated succussfully

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>=0:
  print("positve")

else:
  print ('negative')

print ('Program terminated succussfully')

Please enter an integer: 2
2
<class 'int'>
positve
Program terminated succussfully

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>=0:
  print("positve")

else:
  print ('negative')

print ('Program terminated succussfully')

Please enter an integer: -2
-2
<class 'int'>
negative
Program terminated succussfully

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")

elif x== 0:
  print ('zero')
else:
  print ('negative')

print ('Program terminated succussfully')

Please enter an integer: 2
2
<class 'int'>
positve
Program terminated succussfully

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")

elif x== 0:
  print ('zero')
else:
  print ('negative')

print ('Program terminated succussfully')

Please enter an integer: -2
-2
<class 'int'>
negative
Program terminated succussfully

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")

elif x== 0:
  print ('zero')
else:
  print ('negative')

print ('Program terminated succussfully')

Please enter an integer: 0
0
<class 'int'>
zero
Program terminated succussfully

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")
  print('horray')

elif x== 0:
  print ('zero')
  print ('hmmmm')
else:
  print ('negative')
  print ('omg')

print ('Program terminated succussfully')

Please enter an integer: 2
2
<class 'int'>
positve
horray
Program terminated succussfully

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")
  print('horray')

elif x== 0:
  print ('zero')
  print ('hmmmm')
else:
  print ('negative')
  print ('omg')

print ('Program terminated succussfully')

Please enter an integer: -2
-2
<class 'int'>
negative
omg
Program terminated succussfully

In [ ]:
### write a program to get an integer from user and then pront its sign.


x= int(input ("Please enter an integer: "))
print (x)
print (type(x))
if x>0:
  print("positve")
  print('horray')

elif x== 0:
  print ('zero')
  print ('hmmmm')
else:
  print ('negative')
  print ('omg')

print ('Program terminated succussfully')

Please enter an integer: 0
0
<class 'int'>
zero
hmmmm
Program terminated succussfully

In [ ]:
#### Write a program to get the grade from the user and then to assign a phrase
 - Excellent to 90 and bigger
 - Very good to 80 to 89
 - Good to 70 to 79
 - OK to 60 to 69
 - Satisfying to 50 to 59
 - Fail to less than 50

IndentationError: unexpected indent (ipython-input-37-3498475696.py, line 2)

In [ ]:
  grade_input = int(input('Please enter the grade as an Integer: '))
  grade = int(grade_input)

  if grade >= 90:
    print('Excellent')
  elif grade >= 80:
    print('Very good')
  elif grade >= 70:
    print('Good')
  elif grade >= 60:
    print('OK')
  elif grade >= 50:
    print('Satisfying')
  else:
    print('Fail')

except ValueError:
  # This block runs only if the int() conversion fails
  print('Error: That was not a valid integer. Please run the program again.')

SyntaxError: invalid syntax (ipython-input-44-1403013693.py, line 17)

In [ ]:
x = int(input ("Please enter an integer:"))
status = "positive" if x >= 0 else "negative"
print

Please enter an integer:9

In [ ]:
## Loops in python

In [ ]:
x=8
while x > 0:
  print(x)
  x-=1
print ("Program Terminated")

8
7
6
5
4
3
2
1
Program Terminated

In [ ]:
### While loop

In [ ]:
x=[1,2,3]
while x:
  print(x)
  x.pop(0)
print ("Program Terminated")

[1, 2, 3]
[2, 3]
[3]
Program Terminated

In [ ]:
## For Loop

In [ ]:
x=(1,2,3)
for item in x:
  print(item)
  print(item**3)
  print("-"*20)

print ("Program Terminated")

1
1
--------------------
2
8
--------------------
3
27
--------------------
Program Terminated

In [ ]:
for i in range(1, 10):
  print('*'*i)

TypeError: 'int' object is not callable

In [ ]:
x=[4, 3, 24, 7, 33, 2, 65, 7]
for item in x:
  print ("item=", item)
  if item > 11:
    continue
  print(item ** 2)
  print("-"*20)

item= 4
16
--------------------
item= 3
9
--------------------
item= 24
item= 7
49
--------------------
item= 33
item= 2
4
--------------------
item= 65
item= 7
49
--------------------

Functions

In [ ]:
import pandas as pd
import math

In [ ]:
x=3.24259265535/2

math.sin(x)

0.9987251459231659

In [ ]:
x=math.pi/2

math.sin(x)

1.0

In [ ]:
def f(x):
  """ this function returns the square value of it input.
  input: x -> float
  output: -> float
  """
  y = x ** 2
  return y

In [ ]:
def f(x):
  """ this function returns the square value of it input.
  input: x -> float
  output: -> float
  """
  y = x**2
  return y

print("the program starts.")
print(" f(5) =", f(5))
print("the program continuess.")
print(" f(-6) =", f(-6))

the program starts.
 f(5) = 25
the program continuess.
 f(-6) = 36

In [ ]:
math.factorial(5)

120

In [ ]:
def fact (n):
  """
  Factorial of a given integer
  """
  f = 1
  for i in range (2, n+1):
    return f*i  # f*=i

fact(5)

2

In [ ]:
math.factorial(5)

120

In [ ]:
def fact (n):
  """
  Factorial of a given integer
  """
  if n < 0:
    print("the input should be non-negative integer.")
    return None
  f = 1
  for i in range(2, n+1):
    return f*i  # f*=i

fact(2)

2

In [ ]:
for num in range (10):
  print(num, " ", fact(num))

0   None
1   None
2   2
3   2
4   2
5   2
6   2
7   2
8   2
9   2

In [ ]:
def  f(x):
  y = x**2
  return y

f(1)

1

In [ ]:
def  f(x=0):
  y = x**2
  return y

f(15)

225

In [ ]:
def my_func(a=25, b=True, c="Michael"):
  print("a =",a)
  print("b =",b)
  print("c =",c)

my_func(10)

a = 10
b = True
c = Michael

In [ ]:
def my_func(a=25, b=True, c="Michael"):
  print("a =",a)
  print("b =",b)
  print("c =",c)

my_func(10, "Hello")

a = 10
b = Hello
c = Michael

In [ ]:
def my_func(a=25, b=True, c="Michael"):
  print("a =",a)
  print("b =",b)
  print("c =",c)

my_func(a=10, c="Hello")

a = 10
b = True
c = Hello

In [ ]:
def greeter(*args):
  for name in args:
    print("Hello", name)

greeter ("Michael")

Hello Michael

In [ ]:
def greeter(*args):
  for name in args:
    print("Hello", name)

greeter ("Michael", "Mohit")

Hello Michael
Hello Mohit

In [ ]:
def greeter(*args):
  print(type(args))
  for name in args:
    print("Hello", name)

greeter ("Michael", "Mohit")

<class 'tuple'>
Hello Michael
Hello Mohit

In [ ]:
def f(x=0):
  y=x**2
  return y

print(y)

NameError: name 'y' is not defined

In [ ]:
def func1():
  print("In func1() xx =", xx)

def func2():
  print("In func2() xx =", xx)

def func3():
  print("In func3() xx =", xx)
xx=100
func1()
func2()
func3()

In func1() xx = 100
In func2() xx = 100
In func3() xx = 100

In [ ]:
def func1():
  print("In func1() xx =", xx)

def func2():
  print("In func2() xx =", xx)

def func3():
  print("In func3() xx =", xx)
xx=100
func1()

xx += 1000
func2()
func3()
func1()

In func1() xx = 100
In func2() xx = 1100
In func3() xx = 1100
In func1() xx = 1100

In [ ]:
def func1():
  print("In func1() xx =", xx)

def func2():
  print("In func2() xx =", xx)

def func3():
  print("In func3() xx =", xx)
xx=100
func1()

xx += 1000
func2()
xx += 1000
func3()
func1()

In func1() xx = 100
In func2() xx = 1100
In func3() xx = 2100
In func1() xx = 2100

In [ ]:
def func1():
  print("In func1() xx =", xx)
  xx += 10

def func2():
  print("In func2() xx =", xx)
  xx -= 20

def func3():
  print("In func3() xx =", xx)
  xx /= 10

xx=100

print("xx before all functions:", xx)
func1()
print("xx after func1():", xx)

func2()
print("xx after func2():", xx)

func3()
print("xx after func3():", xx)
func1()

xx before all functions: 100

UnboundLocalError: cannot access local variable 'xx' where it is not associated with a value